$primary: #272727;
$secondary: #fff;
$teritary: #2196f3;

@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

@mixin slowTrans {
    transition: all 0.3s ease;
}

html {
    user-select: none;
}

* {
    font-size: 12px;
    margin: 0;
    font-weight: normal;
    text-decoration: none;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: Roboto;
    -webkit-tap-highlight-color: transparent;
}

button {
    cursor: pointer;
    border: 0;
    background: none;
    outline: none;
}
input {
    border: 0;
    outline: none;
}
body {
    background: #333333;
}

.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background: $primary;
    z-index: 1001;
    &__image {
        position: relative;
        top: 50%;
        left: 50%;
        width: 70px;
        height: 70px;
        margin-top: -35px;
        margin-left: -35px;
        text-align: center;
        animation: preloader-rotate 2s infinite linear;
    }
}

@keyframes preloader-rotate {
    100% {
        transform: rotate(360deg);
    }
}

.loaded .preloader {
    display: none;
    &_hiding .preloader {
        transition: 0.3s opacity;
        opacity: 0;
    }
}

.header {
    z-index: 5;
    box-shadow: 0px 4px 4px #0000003d;
    background: $primary;
    height: 65px;
    padding: 0 25px;
    display: flex;
    align-items: center;
    &-logo {
        width: 80px;
        height: 40px;
        display: grid;
        grid-template-rows: repeat(2, 50%);
        &__container {
            display: flex;
            align-items: center;
            justify-content: center;
            text-shadow: 0px 4px 4px #00000040;
            &:first-child {
                color: $secondary;
            }
            &:last-child {
                color: $primary;
                background: $secondary;
            }
        }
        &__text {
            text-align: center;
            letter-spacing: 1.25px;
            text-transform: uppercase;
            font-weight: 500;
            font-size: 0.91rem;
        }
    }

    &-nav {
        height: 100%;
        display: flex;
        margin-left: 150px;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        &__container {
            padding: 10px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: relative;
            height: 100%;
            row-gap: 10px;
            width: 100px;
            @include slowTrans();
            &:hover {
                background-color: #2f80ed;
            }
            &-substrate {
                position: absolute;
                z-index: 0;
                width: 100%;
                height: 100%;
                background: $teritary;
            }
            &-card {
                z-index: 1;
                width: 24px;
                height: 24px;
                display: flex;
                justify-content: center;
                align-items: center;
                background: center no-repeat url(../../assets/icons/white-circle.svg);
            }
            &-text {
                font-size: 1rem;
                z-index: 1;
                text-align: center;
                color: $secondary;
                letter-spacing: 0.4px;
            }
        }
    }

    &-container {
        margin-left: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 20px;
        flex-direction: row;
        &__avatar {
            border-radius: 50px;
            height: 45px;
            width: 45px;
            display: none;
        }
        &__btn {
            background: $teritary;
            font-weight: 500;
            height: 35px;
            font-size: 1.16rem;
            display: flex;
            align-content: center;
            justify-content: center;
            align-items: center;
            text-align: center;
            letter-spacing: 1.25px;
            text-transform: uppercase;
            color: $secondary;
            box-shadow: 0px 3px 5px #00000033, 0px 1px 18px #0000001f, 0px 6px 10px #00000024;
            border-radius: 4px;
            width: 130px;
        }
        &__start-btn {
            display: none;
            & span {
                font-weight: 500;
                font-size: 1.16rem;
            }
        }
        &__register-btn {
            width: 205px;
        }
    }
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    margin: 35px 0 125px;
    background: $primary;
    border-radius: 5px;
    width: 70%;
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
    align-items: center;
    &-time {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24);
        background: #333333;
        width: 255px;
        height: 65px;
        margin: 30px 0 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        &__item {
            text-align: center;
            font-weight: 500;
            font-size: 3rem;
            letter-spacing: 0.15px;
            color: $secondary;
        }
    }
    &-field {
        display: grid;
        grid-template-columns: repeat(4, auto);
        grid-template-rows: repeat(3, auto);
        gap: 20px;
        border-radius: 5px;
        @include slowTrans();
        &__shuffle {
            transform: rotate(360deg);
        }
        &__container {
            cursor: pointer;
            user-select: none;
            position: relative;
            &-image {
                -webkit-user-drag: none;
                z-index: 1;
                border-radius: 5px;
                box-shadow: 2px 2px 6px #888888;
            }
            &-background {
                opacity: 0.4;
                display: none;
                z-index: 2;
                width: 100%;
                height: 99%;
                border-radius: 5px;
                left: 0px;
                position: absolute;
                &Red {
                    background-color: #9e1717;
                }
                &Green {
                    background-color: #39833d;
                }
            }
        }
    }
}

#gameImage_1,
#gameImage_2,
#gameImage_3,
#gameImage_4,
#gameImage_5,
#gameImage_6,
#gameImage_7,
#gameImage_8,
#gameImage_9,
#gameImage_10,
#gameImage_11,
#gameImage_12,
#gameImage_13,
#gameImage_14,
#gameImage_15,
#gameImage_16 {
    display: none;
}

#gameFieldSubstrate {
    display: unset;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;
}

.gameImageStateIcon {
    position: absolute;
    display: none;
    z-index: 2;
    top: 5px;
    right: 5px;
    width: 20px;
}

.cardCover {
    z-index: 3;
    position: relative;
    -webkit-user-drag: none;
    border-radius: 5px;
    box-shadow: 2px 2px 6px #888888;
}

.about {
    margin: 35px 0 125px;
    background: $primary;
    border-radius: 5px;
    width: 70%;
    align-items: center;
    height: 800px;
    display: grid;
    padding: 35px 180px 35px 35px;
    row-gap: 15px;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(4, auto);

    &-title {
        font-weight: 500;
        font-size: 1.66rem;
        letter-spacing: 0.15px;
        color: $secondary;
    }
    &-container {
        grid-column: 1 / 2;
        display: flex;
        column-gap: 15px;
        width: max-content;
        height: max-content;
        padding: 15px;
        width: 80%;
        height: 100%;
        background-color: #333333;
        &__number {
            background-color: $primary;
            min-width: 40px;
            height: 40px;
            border-radius: 100px;
            box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.14);
            display: flex;
            justify-content: center;
            align-items: center;
            color: $secondary;
            font-size: 2rem;
        }
        &__text {
            font-size: 1.4rem;
            line-height: 20px;
            letter-spacing: 0.25px;
            color: $secondary;
        }
    }
    &-img {
        justify-self: end;
        grid-column: 2 / 3;
        &1 {
            grid-row: 2 / 3;
        }
        &2 {
            grid-row: 3 / 4;
        }
        &3 {
            grid-row: 4 / 5;
        }
    }
}

.score {
    margin: 35px 0 125px;
    background: $primary;
    border-radius: 5px;
    width: 70%;
    display: flex;
    height: 800px;
    padding: 50px 10px 10px 45px;
    flex-direction: column;
    row-gap: 25px;
    &-title {
        font-weight: 500;
        font-size: 1.66rem;
        letter-spacing: 0.15px;
        color: $secondary;
    }
    &-container {
        display: flex;
        flex-direction: column;
        width: 87%;
        row-gap: 15px;
    }
    &-card {
        display: flex;
        width: 100%;
        border-bottom: #b8b8b8 1px solid;
        column-gap: 15px;
        position: relative;
        align-items: center;
        padding: 7px 0;
        &__user {
            display: none;
        }
        &__time {
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            right: 20px;
            font-weight: 500;
            font-size: 1.16rem;
            line-height: 24px;
            letter-spacing: 0.15px;
            color: $secondary;
        }
        &__span {
            font-weight: 500;
            font-size: 1.16rem;
            line-height: 24px;
            letter-spacing: 0.15px;
            color: $teritary;
        }
        &__container {
            row-gap: 10px;
        }
        &__name {
            font-weight: 500;
            font-size: 1.25rem;
            line-height: 21px;
            letter-spacing: 0.1px;
            color: $secondary;
        }
        &__mail {
            font-size: 1rem;
            line-height: 15px;
            letter-spacing: 0.4px;
            color: #b8b8b8;
        }
        &__avatar {
            height: 40px;
            width: 40px;
        }
    }
}

#openGamePage {
    display: none;
}

.settings {
    margin: 35px 0 125px;
    background: $primary;
    border-radius: 5px;
    width: 70%;
    display: grid;
    padding: 35px 45px;
    row-gap: 35px;
    box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.24), 0px 9px 18px rgba(0, 0, 0, 0.18);
    &-container {
        height: 70px;
        border-bottom: 1px solid #e5e5e5;
        max-width: max-content;
        &__title {
            font-weight: 500;
            font-size: 1.8rem;
            letter-spacing: 0.15px;
            color: $secondary;
        }
        &__text {
            letter-spacing: 0.25px;
            color: #b8b8b8;
        }
        &__btn {
            border: 1px solid #ffffff;
            color: #fff;
            outline: none;
            border-radius: 3px;
            width: max-content + 15px;
            background: $secondary;
            height: 25px;
        }
    }
}
